@model SteamApp.Models.Category
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h2>@Model.CategoryName</h2>


    
    <li>Category description: @Model.CategoryDetails</li>
