@model SteamApp.Models.Purchase
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Delete", "Purchases"))
{
    <h2>
        Delete Confirmation
    </h2>

    <div>
        <text>
            Please confirm if you want to delete this purchase:<br />

        </text>

        <text>
            PurchaseID: @Model.PurchaseID <br/>
            PaymentMethodID: @Model.PaymentMethodID

            </text>
    </div>


    <input name="confirmButton" type="submit" value="Delete"
           onclick="return confirm('Are you sure you want to delete record with ID = @Model.PurchaseID');" />



}


