@model SteamApp.Models.Purchase
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PurchaseID : @Model.PurchaseID</h2>
<h3>Date of purchase: @Model.DateOfPurchase</h3>

